<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @comment.restaurant %>
</p>

<p>
  <strong>Users:</strong>
  <%= @comment.users %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<div class="partial_links">
	<%= link_to 'Edit', edit_comment_path(@comment) %> |
	<%= link_to 'Back', comments_path %>
</div>
