<h1>Editing User</h1>

<%= render 'form', user: @user %>

<div class="partial_links">
	<% if session[:is_admin] && session[:user_id] %>
		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', users_path %>
	<% else %>
		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', restaurants_path %>
	<% end %>
</div>
