<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th class="th_users_table">Name</th>
      <th class="th_users_table">Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="td_users_table">
        	<%= user.name %>
        </td>
        
        <td class="td_users_table">
        	<%= user.email %>
        </td>
        
        <td>
           	<%= link_to 'Show', user %><br>        
            <%= link_to 'Edit', edit_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="partial_links">
	<%= link_to 'New User', new_user_path %>
</div>
