<p id="notice"><%= notice %></p>

<table>
	<tbody>
      <tr>
        <td class="td_users_table">
        </br>
			<strong>User: </strong>
				<%= @user.name %> 
			</br></br>

			<strong>Email: </strong>
				<%= @user.email %>
			</br></br>

			<strong>Profile created on: </strong>
				<%= @user.created_at %>
			</br></br>

		    <strong>Last profile update on: </strong>
		    	<%= @user.updated_at %>
		    </br></br>
        </td>
      </tr>
	</tbody>
</table>

<div class="partial_links">
	<% if session[:is_admin] && session[:user_id] %>
		<%= link_to 'Back', users_path %>
	<% else %>
		<%= link_to 'Back', restaurants_path %>
	<% end %>	
</div>
