<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td>
        	<dl>
        		<dt>
        			<%= restaurant.name %>
        		</dt>
        		<dd>
        			<%= restaurant.address %></br>
        		</dd>
        		<dd>	
        			<%=restaurant.get_city_state_zip %>
        		</dd>
        	</dl>
        </td>
        
        <td class="votes">
        	<%= image_tag("thumbs-up.png", 
        		alt: "Thumbs Up", size: "30x30") %></br>
        	<%= restaurant.up_votes %>
        </td>
        
        <td class="votes">
        	<%= image_tag("thumbs-down.png", 
        		alt: "Thumbs Down", size: "30x30") %></br>
        	<%= restaurant.down_votes %>
        	<!-- preface image_tag with link_to when needed -->
        </td>
        
        
        
        
        <td class="links"><%= link_to 'Show', restaurant %></td>
        <td class="links"><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td class="links"><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
