<p id="notice"><%= notice %></p>

<h1>
	<span class="left">Restaurants</span>
	<span class="right">
		<%= link_to image_tag("plus-icon.png", 
		alt: "Add restaurant", size: "30x30"), 
		new_restaurant_path %>
	</span>
</h1>

<table>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td>
        	<dl>
        		<dt>
        			<%= restaurant.name %>
        		</dt>
        		<dd>
        			<%= restaurant.address %></br>
        		</dd>
        		<dd>	
        			<%= restaurant.get_city_state_zip %>
        		</dd>
        	</dl>
        </td>

<!----------------------------------------->       
      
        <td class="votes">
        	<%= link_to image_tag("thumbs-up.png", 
        		alt: "Thumbs Up", size: "30x30"),
        		up_vote_restaurant_path(restaurant.id)%></br>
        		
        	<%= restaurant.up_votes %>
        </td>
        
        <td class="votes">
        	<%= link_to image_tag("thumbs-down.png", 
        		alt: "Thumbs Down", size: "30x30"),
        		down_vote_restaurant_path(restaurant.id)%></br>
        		
        	<%= restaurant.down_votes %>
        </td>
        
<!----------------------------------------->       
        
        
        <td class="links">
        	<%= link_to 'Show', 
        		restaurant %>
        </td>
        <td class="links">
        	<%= link_to 'Edit', 
        		edit_restaurant_path(restaurant) %>
        </td>
        <td class="links">
        	<%= link_to 'Destroy', 
        	restaurant, method: :delete, 
         	data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


