<p id="notice"><%= notice %></p>
<% if @restaurants.blank? %>
<h2 id="notice">No restaurants found with that criteria.</h2>
<% end %>

<% if !@restaurants.blank? %>
<h1>
	<span class="left">Restaurants</span>
	<span class="right">
		<%= link_to image_tag("plus-icon.png", 
		alt: "Add restaurant", class: "icons"), 
		new_restaurant_path %>
	</span>
</h1>
<% end %>

<table>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td>
        	<dl>
        		<dt>
        			<%= restaurant.name %>
        		</dt>
        		<dd>
        			<%= restaurant.address %></br>
        		</dd>
        		<dd>	
        			<%= restaurant.get_city_state_zip %>
        		</dd>
        	</dl>
        </td>

<!----------------------------------------->       
      
        <td class="votes">
        	<%= link_to image_tag("thumbs-up.png", 
        		alt: "Thumbs Up", class: "icons"),
        		up_vote_restaurant_path(restaurant), 
        		method: :patch %></br>

        	<%= restaurant.get_total_up_votes %>
        </td>
        
        <td class="votes">
        	<%= link_to image_tag("thumbs-down.png", 
        		alt: "Thumbs Down", class: "icons"),
        		down_vote_restaurant_path(restaurant),
        		method: :patch %></br>

        	<%= restaurant.get_total_down_votes %>

        </td>
        
<!----------------------------------------->       
        
        
        <td>
        	<%= link_to 'Show', 
        		restaurant %>
        	<%= link_to 'Edit', 
        		edit_restaurant_path(restaurant) %>
        	<%= link_to 'Destroy', 
        		restaurant, method: :delete, 
         		data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @restaurants.blank? %>
	<%= link_to 'Back',  restaurants_path, 
		class: "partial_links" %>
<% end %>

<br>


