<p id="notice"><%= notice %></p>
<table>
	<tbody>
      <tr>
        <td>
        	<dl>
        		<dt>
        			<%= @restaurant.name %>
        		</dt>
        		<dd>
        			<%= @restaurant.address %></br>
        		</dd>
        		<dd>	
        			<%= @restaurant.get_city_state_zip %>
        		</dd>
        	</dl>
        </td>
        
        <td class="votes">
        	<%= image_tag("thumbs-up.png", 
        		alt: "Thumbs Up", size: "30x30", 
        		class: "icons") %></br>
        	<%= @restaurant.get_total_up_votes %>
        </td>
        
        <td class="votes">
        	<%= image_tag("thumbs-down.png", 
        		alt: "Thumbs Down", size: "30x30",
        		class: "icons") %></br>
        	<%= @restaurant.get_total_down_votes %>
        	<!-- preface image_tag with link_to when needed -->
        </td>   
	</tbody>
</table>

<div class="partial_links">
	<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
	<%= link_to 'Back', restaurants_path %>
</div>
