<p id="notice"><%= notice %></p>
<div class="partial_links">
	<%= link_to 'Edit Restaurant', 
		edit_restaurant_path(@restaurant) %> |
	<%= link_to 'Add Comment', 
		new_comment_path(:comment => {:restaurant_id  => @restaurant.id} ) %> |
	<%= link_to 'Back', restaurants_path %>
</div>

<table>
	<tbody>
      <tr>
        <td>
        	<dl>
        		<dt>
        			<%= @restaurant.name %>
        		</dt>
        		<dd>
        			<%= @restaurant.address %></br>
        		</dd>
        		<dd>	
        			<%= @restaurant.get_city_state_zip %>
        		</dd>
        	</dl>
        </td>
        
        <td class="votes">
        	<%= image_tag("thumbs-up.png", 
        		alt: "Thumbs Up", size: "30x30", 
        		class: "icons") %></br>
        	<%= @restaurant.get_total_up_votes %>
        </td>
        
        <td class="votes">
        	<%= image_tag("thumbs-down.png", 
        		alt: "Thumbs Down", size: "30x30",
        		class: "icons") %></br>
        	<%= @restaurant.get_total_down_votes %>
        </td>   
      </tr>


	<% @comments.each do |comment| %>
	<tr>
		<td><dl>
			<dt><%= comment.user.name %> said...</dt>
			<dd><%= comment.comment %></dd>
		</dl></td>
		<td style="text-align: right">Date posted:</td>
		<td><%= comment.format_created_at %></td>
	</tr>
	<% end %>
	
  </tbody>
</table>


